canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
      }
#background {
  z-index: -2;
}

#sea-and-clound {
  z-index: -1;
}

#fisherman {
  z-index: 0;
}

#rope {
  z-index: 1;
}
