canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        background: transparent;
      }


#background {
  z-index: -2;
}

#sea {
  z-index: -1;
}

#fisherman {
  z-index: 0;
}

#rope {
  z-index: 1;
}
