canvas {
        position: absolute;
        height: 100vh;
        width: auto;
        top: 0;
        left: 17%;
        background: transparent;
        background-image: url('./images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

h2 {
  z-index: 1;
  position: absolute;
  left: 25%;
  top:35%;
  font-size: 32px;
  font-family: 'Press Start 2P', cursive;
}

#board{
  height: 50vh;
  width: auto;
  z-index: 1;
  left:33%;
  position: absolute;
  top: 29%;
}

#fish {
  position: absolute;
  height: 35vh;
  width: auto;
  z-index: 2;
  left: 40%;
  top: 33%;
}
